@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf),
    url(../fonts/Montserrat/Montserrat-Regular.woff);
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/Montserrat/Montserrat-Italic.ttf),
    url(../fonts/Montserrat/Montserrat-Italic.woff);
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf),
    url(../fonts/Montserrat/Montserrat-Bold.woff);
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/Montserrat/Montserrat-BoldItalic.ttf),
    url(../fonts/Montserrat/Montserrat-BoldItalic.woff);
}
